@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: var(--fw-regular);
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: var(--fw-bold);
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: var(--ff), sans-serif;
    box-sizing: border-box;
}

:root {
    /* Primary Color */
    --clr-primary: hsl(4, 100%, 67%);

    /* Neutral Colors */
    --clr-neutral-800: hsl(0, 0%, 100%);
    --clr-neutral-600: hsl(231, 7%, 60%);
    --clr-neutral-400: hsl(235, 18%, 26%);
    --clr-neutral-200: hsl(234, 29%, 20%);

    /* Font style */
    --fs-paragraph: 16px;
    --ff: "Roboto";
    --fw-regular: 400;
    --fw-bold: 700;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--clr-neutral-200);
}

ul {
    margin-block: 1rem;
    list-style-image: url(./assets/images/icon-list.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style-position: inside;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--clr-neutral-800);
    background-color: var(--clr-neutral-200);
}

.attribution a {
    color: var(--clr-primary);
}

.message {
    display: none;
}

.card {
    display: grid;
    width: 50rem;
    background-color: var(--clr-neutral-800);
    border-radius: 1rem;
    padding: 0.5rem;
    grid-template-columns: 1.2fr 1fr;
}

.card h1 {
    font-size: 2.5rem;
    padding-block: 1rem;
    color: var(--clr-neutral-200);
}

.card p, ul {
    color: var(--clr-neutral-400);
    font-size: var(--fs-paragraph);
}

.mobile-img {
    display: none;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-right: 0.7rem;
    padding-block: 0.5rem;
}

.img-content img {
    width: 90%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4.5rem;
    font-weight: 400;
}

label {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    display: block;
    color: var(--clr-neutral-200);
}

.email_label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-paragraph);
}

.err-msg {
    visibility: hidden;
    font-size: 0.8rem;
    color: var(--clr-primary);
}

.email-input {
    width: 100%;
    border: 1px solid var(--clr-neutral-600);
    border-radius: 0.3rem;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
    transition: 0.2s ease-in-out;
}

.email-input:focus {
    border: 1px solid var(--clr-neutral-200);
}

.btn {
    width: 100%;
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

.btn:hover {
    background: linear-gradient(90deg, rgba(249,49,28,1) 0%, rgba(236,61,50,1) 33%, rgba(255,98,87,1) 100%);
}

/* .text-content, .img-content{
    display: none;
} */
.message {
    /* display: block; */
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

.message img {
    width: 15%;
}

.message h2 {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: var(--clr-neutral-200);
}

.user-email {
    font-weight: var(--fw-bold);
    color: #222;
}

@media (max-width: 810px) {
    .card {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .text-content h1 {
        font-size: calc(2.5rem - 1vw);
    }
}

@media (max-width: 375px) {
    body {
        display: block;
        height: auto;
    }

    .mobile-img {
        display: block;
    }

    .desktop-img {
        display: none;
    }

    .card {
        padding: 0;
        height: auto;
        grid-template-columns: 1fr;
    }

    .card .text-content {
        padding: 0.5rem 1.2rem;
        order: 2;
    }

    .card .img-content {
        padding: 0;
        order: 1;
    }

    .img-content img {
        width: 100%;
    }

    .attribution {
        position: static;
    }
}