@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: var(--fw-regular);
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: var(--fw-bold);
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: var(--ff), sans-serif;
    box-sizing: border-box;
}

:root {
    /* Primary Color */
    --clr-primary: hsl(4, 100%, 67%);

    /* Neutral Colors */
    --clr-neutral-800: hsl(0, 0%, 100%);
    --clr-neutral-600: hsl(231, 7%, 60%);
    --clr-neutral-400: hsl(235, 18%, 26%);
    --clr-neutral-200: hsl(234, 29%, 20%);

    /* Font style */
    --fs-paragraph: 16px;
    --ff: "Roboto";
    --fw-regular: 400;
    --fw-bold: 700;
}


p {
    font-size: var(--fs-paragraph);
}